.wrap {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    border: 3px solid palevioletred;
    border-radius: 10px;
}

h1, h5 {
    margin: auto;
    padding: 10px;
    text-align: center;
    color: rgb(88, 62, 62);
    /*border: 1px solid black;*/
}

.input-group {
    margin: 20px auto;
}

.mb-3 {
    max-width: 400px;
    margin: 15px auto;
}

.btn-success {
    display: block;
    width: 180px;
    margin: 15px auto;
}

#errorMessage {
    text-align: center;
    color: red;
}